In [0]:
import pandas as pd
import json
import csv

In [0]:
ibm = pd.read_csv('ibm_scores.csv')
google = pd.read_csv('Google_API_Results.csv')
aws = pd.read_csv('Amazon_final.csv')
azure = pd.read_csv('microsoft_result.csv')

In [11]:
google.head(5)

,Unnamed: 0,sentiment,text,magnitude,score
0,0,Positive,"Thank you, Ellen. We have a strong 2018, with ...",0.2,0.0
1,1,Positive,Stock-based compensation totaled $2.3 billion....,0.0,0.0
2,10,Neutral,"Ladies and gentlemen, this does conclude the G...",0.6,0.0
3,100,Positive,"And that has thrown up, as I said in my commen...",0.6,0.0
4,1000,Neutral,"For S and X, we did eliminate the 75 [indiscer...",0.4,0.0

In [27]:
aws.drop(['Positive','Unnamed: 0','Negative','Neutral'], axis = 1, inplace = True)
google.drop(['Unnamed: 0','text'],axis = 1, inplace = True)

ValueError: ignored

In [0]:
aws

In [0]:
list = [google, aws, ibm, azure]
combined_dataframe=pd.concat(list,axis=1)

In [30]:
combined_dataframe.head(5)

,Unnamed: 0,sentiment,text,magnitude,score,Unnamed: 0,Positive,Neutral,Negative,que,sentiment,text,ibm_score,Unnamed: 0,text,predict,score
0,0.0,Positive,"Thank you, Ellen. We have a strong 2018, with ...",0.2,0.0,0.0,0.791934,0.201138,0.003904,0.791934,Positive,"Thank you, Ellen. We have a strong 2018, with ...",0.987951,0,Could you catch us up on your latest thinking ...,neutral,0.500000
1,1.0,Positive,Stock-based compensation totaled $2.3 billion....,0.0,0.0,1.0,0.016305,0.974791,0.006084,0.974791,Positive,Stock-based compensation totaled $2.3 billion....,0.655981,1,"Thank you, and good morning. Welcome to Boeing...",positive,0.985369
2,10.0,Neutral,"Ladies and gentlemen, this does conclude the G...",0.6,0.0,10.0,0.006107,0.986493,0.005295,0.986493,Neutral,"Ladies and gentlemen, this does conclude the G...",0.599695,2,"Before we begin, I need to remind you that any...",neutral,0.500000
3,100.0,Positive,"And that has thrown up, as I said in my commen...",0.6,0.0,100.0,0.288730,0.630130,0.062245,0.630130,Positive,"And that has thrown up, as I said in my commen...",0.274780,3,"In addition, we refer you to our earnings rele...",neutral,0.500000
4,1000.0,Neutral,"For S and X, we did eliminate the 75 [indiscer...",0.4,0.0,1000.0,0.053644,0.608369,0.268173,0.608369,Neutral,"For S and X, we did eliminate the 75 [indiscer...",-0.720682,4,"Thank you, Maurita, and good morning. Let me b...",neutral,0.500000

In [0]:
combined_dataframe.to_csv('Combined_data_from_API.csv', index=False)